certifi==2022.12.7
chardet==3.0.4
idna==2.8
-e git+https://github.com/ReagentX/replit-python-client.git@18e174e82f1edc32a8328a4f4d52d5f48c5c4f9d#egg=replit_api
requests==2.21.0
requests-cache==0.4.13
urllib3==1.26.5
